/* Basic setup starts*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizeLegibility;
}

body,
p {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Rubik', sans-serif;
}

.nav-link,
span,
a,
p {
    font-size: 1.6rem;
}


/* Basic setup end*/


/* Reusable component starts */

.btn {
    font-size: 1.6rem;
    border-radius: .5rem;
}

.btn-primary {
    color: #fff;
    background-color: #e73c3e !important;
    border-color: #e73c3e;
    padding: 1rem 4.1rem;
    position: relative;
    z-index: 1;
    border-radius: .5rem;
}

.btn-primary::after {
    content: "";
    position: absolute;
    width: 0;
    background: #111111 !important;
    height: 100%;
    border-color: #111 !important;
    z-index: -1;
    transition: .4s all ease-in-out;
    left: 0;
    top: 0;
}

.btn-primary:hover {
    border-color: #111 !important;
}

.btn-primary:hover::after {
    width: 100%;
}

ul {
    list-style: none;
}

.ptb-100 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.pt-100 {
    padding-top: 10rem;
}

.pb-70 {
    padding-bottom: 7rem;
}

.section-heading span {
    color: #e73c3e;
    font-size: 1.6rem;
}

.section-heading h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #111111;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.section-heading p {
    color: #606060;
}

.about-content strong {
    color: #606060;
    font-size: 1.9rem;
    font-weight: 500;
    display: block;
}

.about-content ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0;
}

.about-content ul li {
    color: #606060;
    font-size: 1.7rem;
    padding: .3rem 0;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 125rem;
    }
}

.gray-bg {
    background-color: #f9fafb;
}


/* Reusable component ends */


/* Header starts here */

.header-nav {
    background-color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #111111 !important;
    font-weight: 500;
    padding-right: 2.7rem !important;
}

.nav-link.active {
    color: #e73c3e !important;
}

.fa-angle-down {
    position: relative;
    top: .2rem;
}


/* dropdown nav starts*/

.dropdown-toggle::after {
    display: none;
}

ul.primary-menu li {
    position: relative;
}

ul.primary-menu li ul {
    position: absolute;
    top: 8rem;
    left: 1rem;
    width: 22rem;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    transition: .4s all ease-in-out;
    padding-left: 0;
    padding: 1rem;
    z-index: 9;
}

ul.primary-menu li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 159%;
}

ul.primary-menu li ul li {
    position: relative;
}

ul.primary-menu li ul li ul.multi-drop {
    position: absolute;
    top: 40%;
    left: -160%;
    width: 22rem;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    transition: .4s all ease-in-out;
    padding-left: 0;
    padding: 1rem;
    z-index: 9;
}

ul.primary-menu li ul li:hover ul.multi-drop {
    opacity: 1;
    visibility: visible;
    left: -115%;
}

ul.submenu li a,
ul.submenu2 li a,
ul.submenu3 li a {
    padding: 1rem 2rem;
}

.nav-link.dropdown3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* dropdown nav end*/


/* Navbar nav starts*/

ul.primary-menu li a {
    transition: .3s all ease-in-out;
}


/* Navbar toggler button starts*/

.nav-toggler {
    width: 4.5rem;
    height: 4.5rem;
    background: #fdfdf9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.nav-toggler span {
    display: inline-block;
    width: 3.5rem;
    height: .4rem;
    background: #111;
    position: relative;
}

.nav-toggler.open span {
    background-color: transparent;
}

.nav-toggler span::before {
    width: 3.5rem;
    height: .4rem;
    background: #111111;
    content: "";
    top: .7rem;
    position: absolute;
}

.nav-toggler.open span::before {
    width: 2.6rem;
    height: .4rem;
    background: #606060;
    top: 0;
    transform: rotate(-49deg);
}

.nav-toggler span::after {
    content: "";
    width: 3.5rem;
    height: .4rem;
    background: #111;
    position: absolute;
    top: -.7rem;
}

.nav-toggler.open span::after {
    width: 2.6rem;
    height: .3rem;
    background: #606060;
    top: 0;
    transform: rotate(49deg);
}

@media (min-width: 992px) {
    .nav-toggler {
        display: none;
    }
}


/* Navbar toggler button ends*/

.navigation {
    display: flex;
    align-items: center;
}

ul.primary-menu li a:focus,
ul.primary-menu li a:hover {
    color: #e73c3e !important;
}

ul.primary-menu li ul li a {
    transition: .3s all ease-in-out;
}

ul.primary-menu li ul li a:focus,
ul.primary-menu li ul li a:hover {
    letter-spacing: .1rem;
}


/* Navbar nav ends*/

.fas.fa-search {
    font-size: 2.2rem;
    font-weight: 516;
    padding-right: 1.5rem;
    border-right: .1rem solid #dadada;
    margin-right: 1.5rem;
}

.call-icon .fa-phone-volume {
    font-size: 3.5rem;
    color: #ee4b62;
    padding-right: 1.5rem;
}

.call-info {
    padding-right: 1.5rem;
}

.call-info span {
    color: #606074;
}

.call-info a {
    color: #111111;
    font-weight: 500;
}

.header-btn .btn-primary {
    color: #fff;
    background-color: #e73c3e !important;
    border-color: #e73c3e;
    padding: 1rem 4.1rem;
    margin-left: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


/* Header ends here */


/* Banner starts */

#banner {
    background-image: url(../images/main-banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.header-content {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 16%;
}

.banner-content span {
    color: #e93c3e;
    font-size: 1.8rem;
}

.banner-content h1 {
    font-size: 6.5rem;
    font-weight: 600;
    color: #111111;
}

.banner-content p {
    color: #606060;
    font-size: 2rem;
}

.hero-btn {
    margin-top: 1.8rem;
}

.banner-area {
    position: relative;
}

.header-social {
    position: absolute;
    bottom: 6rem;
    left: 2rem;
}

ul.social-icon li {
    padding: 0 1.3rem;
}

ul.social-icon li span {
    position: relative;
    margin-right: 4rem;
}

ul.social-icon li span::after {
    position: absolute;
    content: "";
    display: block;
    width: 3.8rem;
    height: .1rem;
    right: -5rem;
    top: 1.1rem;
    background-color: #111111;
}

ul.social-icon li a {
    color: #111111;
    font-size: 1.8rem;
    transition: .4s all ease-in-out;
}

ul.social-icon li a:hover {
    color: #e73c3e;
}


/* Banner ends */


/* Partner section starts */

.partner-wrap {
    border-bottom: .1rem solid #e5e5e5;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-dots {
    display: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 60%;
    margin: 0 auto;
}


/* Partner section ends */


/* About section starts */

.about-img-wrapper {
    position: relative;
}

.about-img-info {
    position: absolute;
    width: 40%;
    height: 42%;
    right: 6%;
    background-image: url(../images/about/shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info-inner h2 {
    color: #e73c3e;
    font-size: 4rem;
}

.about-info-inner p {
    color: #111111;
    font-weight: 500;
    font-size: 1.7rem;
}

.about-content ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    display: inline-block;
    color: #e73b3d;
    margin-right: .6rem;
}


/* About section ends */


/* Features section starts */

.features-card {
    background: #ffffff;
    padding: 2.5rem;
    position: relative;
    overflow: hidden;
    transition: .3s all ease-in-out;
}

.features-card .fr-icon {
    background: #ffffff;
    width: 9rem;
    height: 9rem;
    display: inline-block;
    line-height: 10.5rem;
    border-radius: 50%;
    font-size: 5.5rem;
    z-index: 999;
    position: relative;
    transition: .2s ease-in-out;
}

.fr-icon i {
    color: #e73c3e;
}

.features-card::before {
    content: "";
    width: 90%;
    height: 65%;
    position: absolute;
    top: -11rem;
    left: 0;
    right: 0;
    margin: auto;
    background: #fdebeb;
    border-radius: 50%;
    overflow: hidden;
}

.features-card h4 {
    font-size: 2.5rem;
}

.mt-35 {
    margin-top: 3rem;
}

.mtn-35 {
    margin-top: -3rem;
}

.features-card:hover {
    transform: translateY(-12px);
}

.features-card:hover .fr-icon {
    background-color: #e73c3e;
}

.features-card:hover .fr-icon i {
    color: #ffffff;
}

.section-heading {
    margin-bottom: 3rem;
}

.features-sc h2 {
    font-weight: 500;
}

.features-img-wrapper {
    position: relative;
}

.features-img-wrapper a {
    position: absolute;
    bottom: 16%;
    right: 39%;
    width: 8.5rem;
    height: 8.5rem;
    background: #fff;
    line-height: 8.9rem;
    text-align: center;
    font-size: 5.9rem;
    color: #e73c3e;
    border-radius: 50%;
    transition: .4s all ease-in-out;
}

.features-img-wrapper a:hover {
    background: #e73c3e;
    color: #fff;
}

.features-img-wrapper a i.fa-play-circle::after {
    content: "";
    width: 6rem;
    height: 6rem;
    background: #e73c3e;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: play-animate 1.2s ease-in-out infinite;
}

@keyframes play-animate {
    0%,
    30% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: .8;
    }
    100% {
        transform: scale(2.7);
        opacity: 0;
    }
}


/* Features section ends */


/* Apply Section starts */

#apply .section-heading {
    margin-bottom: 4rem;
}

.apply-sc-heading h2 {
    font-weight: 500;
}

.apply-sc-heading p {
    width: 50%;
    margin: auto;
}

.apply-left {
    padding: 0 1rem;
}

.apply-left h3 {
    font-size: 3.7rem;
    font-weight: 400;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.apply-left ul {
    position: relative;
    padding-left: 4.5rem;
    margin-left: 2rem;
}

.apply-left ul::before {
    position: absolute;
    border-left: .1rem solid #e73c3e;
    top: 0;
    left: 0;
    content: "";
    height: calc(100% - 7.5rem);
}

.apply-left ul li {
    margin-bottom: 3rem;
}

.apply-left h4 {
    margin-bottom: 1.5rem;
    position: relative;
    font-size: 2.4rem;
}

.apply-left h4::before {
    content: attr(data-counter);
    position: absolute;
    left: -6.5rem;
    background: #f9fafb;
    border: .1rem solid #e73c3e;
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    top: -.7rem;
    color: #e73c3e;
    font-weight: 400;
}

.apply-rigth {
    background: #fdebeb;
    padding: 4.5rem;
}

.apply-right-heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.apply-right-heading span {
    color: #606060;
    padding-bottom: 1rem;
    display: block;
}

.apply-form-label {
    margin-bottom: .5rem;
    color: #606060 !important;
    font-size: 1.6rem;
}

.apply-form-label {
    margin-bottom: .5rem;
    color: #606060 !important;
}

.form-control {
    line-height: 2.5 !important;
    border: none;
    border-radius: 0 !important;
    font-size: 1.6rem;
}

.apply-select {
    line-height: 2.5;
    border: none;
    border-radius: 0;
    font-size: 1.6rem;
}

.apply-btn {
    padding: 1.5rem 4.1rem;
    margin-top: 1rem;
}


/* Apply Section ends*/


/* Call to Action starts */

.call-to-action {
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.call-info-wrap {
    background: #e73c3e;
    padding: 6.5rem 5rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.call-info-left {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 0;
    font-weight: 400;
    position: relative;
}

.call-info-left::after {
    position: absolute;
    content: "";
    border-right: .1rem solid #f39e9f;
    right: -2.4rem;
    height: 100%;
    top: 0;
}

.call-info-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-info-right a {
    color: #fff;
    text-decoration: none;
}

.call-info-icon {
    color: #e73c3e !important;
    background: #fff;
    width: 7.5rem;
    height: 7.5rem;
    text-align: center;
    line-height: 7.5rem;
    font-size: 4rem;
    border-radius: 50%;
    margin-left: 10%;
}

.call-info-num h2 {
    font-size: 3.6rem;
    margin-bottom: 0;
}


/* Call to Action ends */


/* Values section starts */

.values-left {
    margin-top: 3rem;
}

.values-heading h2 {
    font-size: 3.5rem;
    font-weight: 500;
    color: #111111;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}

.values-item {
    display: flex;
    margin-bottom: 1.5rem;
}

.values-icon i {
    color: #e73c3e;
    font-size: 5rem;
    margin-right: 2.5rem;
}

.values-info h4 {
    margin-bottom: 1.5rem;
    color: #111;
    font-size: 2.5rem;
}

.values-info p {
    color: #606060;
}


/* Values section ends */


/* Services section starts */

.services-tabs {
    margin-top: 1.5rem;
}

.services-tab-content {
    margin-top: 4rem;
}

.tab-content-row {
    align-items: center;
}

.services-tabs .nav-link {
    padding-bottom: 3rem;
    background: 0 0;
    border: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.services-nav-item {
    flex: 1 1 auto;
    text-align: center;
    /* position: relative; */
}

.services-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: .1rem solid #e73c3e;
}

.services-tabs .nav-link.active i {
    color: #e73c3e;
}

.services-tabs li a {
    display: inline-block;
    text-align: center;
}

.services-tabs li a i {
    display: inline-block;
    text-align: center;
    width: 8rem;
    height: 8rem;
    background: #ffffff;
    line-height: 8rem;
    font-size: 3rem;
    color: #606060;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.service-nav-link {
    color: #111111 !important;
    font-weight: 500;
    padding-right: 1.5rem !important;
}

.services-tabs li a span {
    display: block;
    color: #111;
    font-size: 2rem;
    font-weight: 600;
}

.services-right .list {
    padding-left: 0;
}

.services-right .list li {
    color: #606060;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.services-right .list li::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #e73c3e;
    border-radius: 50%;
    margin-right: 1rem;
}

.services-right h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
    color: #111;
}

.services-right p {
    color: #606060;
    line-height: 1.8;
    font-weight: 400;
}


/* Services section ends */


/* Testimonial section starts */

.clients-content-row {
    margin-top: 4rem;
}

.clients-info p {
    color: #111;
    font-size: 2.4rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
}

.clients-info h3 {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #e73c3e;
}

.clients-info span {
    color: #606060;
}

.carousel-indicators [data-bs-target] {
    width: 2rem;
    height: 2rem;
    background-color: #e73c3e;
    border-radius: 50%;
}

.carousel-indicators {
    bottom: 28%;
    left: unset;
    z-index: 2;
    margin-right: 6%;
    margin-bottom: 0;
    margin-left: 10%;
    flex-direction: column;
}

.clients-img {
    position: relative;
}

.clients-quate {
    position: absolute;
    left: 8.2rem;
    bottom: 5.2rem;
    background-color: #fff;
    padding: 2.3rem;
    font-size: 3.5rem;
    border-radius: 50%;
    color: #e73c3e;
}

.clients-quate:hover {
    background: #e73c3e;
    color: #fff;
    cursor: pointer;
}


/* Testimonial section ends */


/* Team section starts */

.team-img-wrap {
    position: relative;
}

.team-social {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

ul.team-social li {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 50%;
    line-height: 3.7rem;
    text-align: center;
    margin: 0 .5rem;
    display: inline-block;
    font-size: 1.8rem;
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.team-member:hover ul.team-social li {
    opacity: 1;
    visibility: visible;
    transform: translateY(-35px);
}

ul.team-social li:nth-child(1) {
    transition-delay: .2s;
}

ul.team-social li:nth-child(2) {
    transition-delay: .3s;
}

ul.team-social li:nth-child(3) {
    transition-delay: .4s;
}

ul.team-social li:nth-child(4) {
    transition-delay: .5s;
}

ul.team-social li:hover {
    background-color: #e73c3e;
    transition-delay: .1s !important;
}

ul.team-social li:hover a {
    color: white;
}

ul.team-social li a {
    color: black;
}

.team-member .team-info {
    margin-top: 2.5rem;
}

.team-info h3 {
    font-size: 2rem;
    color: #e73c3e;
    margin-bottom: .8rem;
}

.team-info span {
    font-size: 1.6rem;
    color: #606060;
}


/* Team section ends */


/* Blog section starts */

.blog-item .blog-info {
    margin-top: 2.5rem;
}

.blog-info span {
    color: #e73c3e;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
}

.blog-info h3 {
    line-height: 1.4;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}

.blog-info h3 a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #111;
    transition: .5s ease-in-out;
}

.blog-info h3 a:hover {
    color: #e73c3e;
}

.blog-info a.more-btn {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    font-size: 1.6rem;
    transition: .5s ease-in-out;
    font-family: 'Rubik', sans-serif;
}

.blog-item:hover .blog-info a.more-btn {
    color: #e73c3e;
    letter-spacing: .1rem;
}


/* Blog section ends */


/* Footer section starts */

#footer {
    color: #fff;
    background: #111;
}

#footer a {
    text-decoration: none;
    color: #fff;
}

.footer-widget .footer-logo {
    margin-bottom: 2.5rem;
}

.footer-widget p {
    line-height: 1.8;
    font-size: 1.7rem;
    font-weight: 400;
}

#footer ul {
    padding-left: 0;
}

.footer-social ul.social-list span {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: .5rem;
}

.footer-social ul.social-list li a {
    padding: 0 .8rem;
    transition: .4s ease-in-out;
}

.footer-social ul.social-list li a:hover {
    color: #e73c3e !important;
}

.footer-social {
    margin-top: 2rem;
}

.footer-widget h3 {
    font-size: 2rem;
    border-bottom: .1rem solid #333535;
    margin-bottom: 2rem;
    padding-bottom: 2.2rem;
}

.footer-widget ul.footer-link li {
    margin: 1.5rem 0;
}

.footer-widget ul.footer-link li:hover a {
    color: #e73c3e !important;
    letter-spacing: .1rem;
}

.footer-widget ul.footer-link li a {
    transition: .5s ease-in-out;
}

.footer-bottom {
    border-top: .1rem solid #333535;
    padding: 3rem 0;
}

.footer-bottom p {
    margin-bottom: 0;
    color: #606060;
}

.footer-contact .contact-item span {
    font-size: 2.1rem;
    margin-right: 1.5rem;
    display: block;
}

.footer-contact .contact-item a {
    transition: .5s ease-in-out;
}

.footer-contact .contact-item a:hover {
    color: #e73c3e !important;
}

.back_to_top a {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background: #111;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    line-height: 4.5rem;
    font-size: 3rem;
    border-radius: 50%;
    transition: .5s ease-in-out;
}

.back_to_top a:hover {
    background: #e73c3e;
    transform: translateY(-10px);
}


/* Footer section ends */