/* Basic setup starts*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
p {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Rubik', sans-serif;
}


/* Basic setup end*/


/* Reusable component starts */

.btn-primary {
    color: #fff;
    background-color: #e73c3e !important;
    border-color: #e73c3e;
    padding: 10px 41px;
    position: relative;
    z-index: 1;
}

.btn-primary::after {
    content: "";
    position: absolute;
    width: 0;
    background: #111111 !important;
    height: 100%;
    border-color: #111 !important;
    z-index: -1;
    transition: .4s all ease-in-out;
    left: 0;
    top: 0;
}

.btn-primary:hover {
    border-color: #111 !important;
}

.btn-primary:hover::after {
    width: 100%;
}

ul {
    list-style: none;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-70 {
    padding-bottom: 70px;
}

.section-heading span {
    color: #e73c3e;
    font-size: 16px;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: 400;
    color: #111111;
    margin-top: 18px;
    margin-bottom: 18px;
}

.section-heading p {
    color: #606060;
}

.about-content strong {
    color: #606060;
    font-size: 19px;
    font-weight: 500;
    display: block;
}

.about-content ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
}

.about-content ul li {
    color: #606060;
    font-size: 17px;
    padding: 3px 0;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px;
    }
}

.gray-bg {
    background-color: #f9fafb;
}


/* Reusable component ends */


/* Header starts here */

.header-nav {
    background-color: #ffffff;
}

.nav-link {
    color: #111111 !important;
    font-weight: 500;
    padding-right: 27px !important;
}

.nav-link.active {
    color: #e73c3e !important;
}

.fa-angle-down {
    position: relative;
    top: 2px;
}


/* dropdown nav starts*/

.dropdown-toggle::after {
    display: none;
}

ul.primary-menu li {
    position: relative;
}

ul.primary-menu li ul {
    position: absolute;
    top: 170%;
    left: 10px;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transition: .4s all ease-in-out;
    padding-left: 0;
    padding: 10px;
    z-index: 9;
}

ul.primary-menu li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

ul.primary-menu li ul li {
    position: relative;
}

ul.primary-menu li ul li ul.multi-drop {
    position: absolute;
    top: 40%;
    left: -160%;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transition: .4s all ease-in-out;
    padding-left: 0;
    padding: 10px;
    z-index: 9;
}

ul.primary-menu li ul li:hover ul.multi-drop {
    opacity: 1;
    visibility: visible;
    left: -115%;
}


/* dropdown nav end*/


/* Navbar nav starts*/

ul.primary-menu li a {
    transition: .3s all ease-in-out;
}

ul.primary-menu li a:focus,
ul.primary-menu li a:hover {
    color: #e73c3e !important;
}

ul.primary-menu li ul li a {
    transition: .3s all ease-in-out;
}

ul.primary-menu li ul li a:focus,
ul.primary-menu li ul li a:hover {
    letter-spacing: 1px;
}


/* Navbar nav ends*/

.fas.fa-search {
    font-size: 22px;
    font-weight: 516;
    padding-right: 15px;
    border-right: 1px solid #dadada;
    margin-right: 15px;
}

.call-icon .fa-phone-volume {
    font-size: 35px;
    color: #ee4b62;
    padding-right: 15px;
}

.call-info {
    padding-right: 15px;
}

.call-info span {
    color: #606074;
}

.call-info a {
    color: #111111;
    font-weight: 500;
}

.header-btn .btn-primary {
    color: #fff;
    background-color: #e73c3e !important;
    border-color: #e73c3e;
    padding: 10px 41px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


/* Header ends here */


/* Banner starts */

#banner {
    background-image: url(../images/main-banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    /* height: 90vh; */
}

.header-content {
    height: 90vh;
    display: flex;
    align-items: center;
}

.banner-content span {
    color: #e93c3e;
    font-size: 18px;
}

.banner-content h1 {
    font-size: 65px;
    font-weight: 600;
    color: #111111;
}

.banner-content p {
    color: #606060;
    font-size: 20px;
}

ul.social-icon li {
    padding: 0 13px;
}

ul.social-icon li span {
    position: relative;
    margin-right: 40px;
}

ul.social-icon li span::after {
    position: absolute;
    content: "";
    display: block;
    width: 38px;
    height: 1px;
    right: -50px;
    top: 11px;
    background-color: #111111;
}

ul.social-icon li a {
    color: #111111;
    font-size: 18px;
    transition: .4s all ease-in-out;
}

ul.social-icon li a:hover {
    color: #e73c3e;
}


/* Banner ends */


/* Partner section starts */

.partner-wrap {
    border-bottom: 1px solid #e5e5e5;
}


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    height: auto;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Partner section ends */


/* About section starts */

.about-img-wrapper {
    position: relative;
}

.about-img-info {
    position: absolute;
    width: 40%;
    height: 42%;
    right: 6%;
    background-image: url(../images/about/shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info-inner h2 {
    color: #e73c3e;
    font-size: 4rem;
}

.about-info-inner p {
    color: #111111;
    font-weight: 500;
    font-size: 17px;
}

.about-content ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    display: inline-block;
    color: #e73b3d;
    margin-right: 6px;
}


/* About section ends */


/* Features section starts */

.features-card {
    background: #ffffff;
    padding: 25px;
    position: relative;
    overflow: hidden;
}

.features-card .fr-icon {
    background: #ffffff;
    width: 90px;
    height: 90px;
    display: inline-block;
    line-height: 105px;
    border-radius: 50%;
    font-size: 55px;
    z-index: 999;
    position: relative;
    transition: .2s ease-in-out;
}

.fr-icon i {
    color: #e73c3e;
}

.features-card::before {
    content: "";
    width: 90%;
    height: 65%;
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
    margin: auto;
    background: #fdebeb;
    border-radius: 50%;
    overflow: hidden;
}

.mt-35 {
    margin-top: 30px;
}

.mtn-35 {
    margin-top: -30px;
}

.features-card {
    transition: .3s all ease-in-out;
}

.features-card:hover {
    transform: translateY(-12px);
}

.features-card:hover .fr-icon {
    background-color: #e73c3e;
}

.features-card:hover .fr-icon i {
    color: #ffffff;
}

.section-heading {
    margin-bottom: 30px;
}

.features-sc h2 {
    font-weight: 500;
}

.features-img-wrapper {
    position: relative;
}

.features-img-wrapper a {
    position: absolute;
    bottom: 16%;
    right: 39%;
    width: 85px;
    height: 85px;
    background: #fff;
    line-height: 89px;
    text-align: center;
    font-size: 59px;
    color: #e73c3e;
    border-radius: 50%;
    transition: .4s all ease-in-out;
}

.features-img-wrapper a:hover {
    background: #e73c3e;
    color: #fff;
}

.features-img-wrapper a i.fa-play-circle::after {
    content: "";
    width: 60px;
    height: 60px;
    background: #e73c3e;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: play-animate 1.2s ease-in-out infinite;
}

@keyframes play-animate {
    0%,
    30% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: .8;
    }
    100% {
        transform: scale(2.7);
        opacity: 0;
    }
}


/* Features section ends */


/* Apply Section starts */

#apply .section-heading {
    margin-bottom: 40px;
}

.apply-sc-heading h2 {
    font-weight: 500;
}

.apply-sc-heading p {
    width: 50%;
    margin: auto;
}

.apply-left {
    padding: 0 10px;
}

.apply-left h3 {
    font-size: 37px;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom: 30px;
}

.apply-left ul {
    position: relative;
    padding-left: 45px;
    margin-left: 20px;
}

.apply-left ul::before {
    position: absolute;
    border-left: 1px solid #e73c3e;
    top: 0;
    left: 0;
    content: "";
    height: calc(100% - 75px);
}

.apply-left ul li {
    margin-bottom: 30px;
}

.apply-left h4 {
    margin-bottom: 15px;
    position: relative;
}

.apply-left h4::before {
    content: attr(data-counter);
    position: absolute;
    left: -65px;
    background: #f9fafb;
    border: 1px solid #e73c3e;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    top: -7px;
    color: #e73c3e;
    font-weight: 400;
}

.apply-rigth {
    background: #fdebeb;
    padding: 45px;
}

.apply-right-heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.apply-right-heading span {
    color: #606060;
    padding-bottom: 10px;
    display: block;
}

.apply-right-heading h2 {
    color: #111111;
    font-size: 35px;
}

.apply-form-label {
    margin-bottom: .5rem;
    color: #606060 !important;
}

.form-control {
    line-height: 2.5 !important;
    border: none;
    border-radius: 0 !important;
}

.apply-select {
    line-height: 2.5;
    border: none;
    border-radius: 0;
}

.apply-btn {
    padding: 15px 41px;
}


/* Apply Section ends*/


/* Call to Action starts */

.call-to-action {
    padding-top: 30px;
    padding-bottom: 100px;
}

.call-info-wrap {
    background: #e73c3e;
    padding: 65px 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.call-info-left {
    color: #fff;
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 400;
    position: relative;
}

.call-info-left::after {
    position: absolute;
    content: "";
    border-right: 1px solid #f39e9f;
    right: -24px;
    height: 100%;
    top: 0;
}

.call-info-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-info-right a {
    color: #fff;
    text-decoration: none;
}

.call-info-icon {
    color: #e73c3e !important;
    background: #fff;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 40px;
    border-radius: 50%;
    margin-left: 10%;
}

.call-info-num h2 {
    font-size: 36px;
    margin-bottom: 0;
}


/* Call to Action ends */


/* Values section starts */

.values-left {
    margin-top: 30px;
}

.values-heading h2 {
    font-size: 35px;
    font-weight: 500;
    color: #111111;
    margin-top: 18px;
    margin-bottom: 20px;
}

.values-item {
    display: flex;
    margin-bottom: 15px;
}

.values-icon i {
    color: #e73c3e;
    font-size: 50px;
    margin-right: 25px;
}

.values-info h4 {
    margin-bottom: 15px;
    color: #111;
}

.values-info p {
    color: #606060;
}


/* Values section ends */


/* Services section starts */

.services-tabs {
    margin-top: 15px;
}

.services-tab-content {
    margin-top: 40px;
}

.tab-content-row {
    align-items: center;
}

.services-tabs .nav-link {
    padding-bottom: 30px;
    background: 0 0;
    border: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.services-nav-item {
    flex: 1 1 auto;
    text-align: center;
    /* position: relative; */
}

.services-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: 1px solid #e73c3e;
}

.services-tabs .nav-link.active i {
    color: #e73c3e;
}

.services-tabs li a {
    display: inline-block;
    text-align: center;
}

.services-tabs li a i {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 80px;
    background: #ffffff;
    line-height: 80px;
    font-size: 30px;
    color: #606060;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.service-nav-link {
    color: #111111 !important;
    font-weight: 500;
    padding-right: 15px !important;
}

.services-tabs li a span {
    display: block;
    color: #111;
    font-size: 20px;
    font-weight: 600;
}

.services-right .list {
    padding-left: 0;
}

.services-right .list li {
    color: #606060;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 16px;
}

.services-right .list li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #e73c3e;
    border-radius: 50%;
    margin-right: 10px;
}

.services-right h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 14px;
    color: #111;
}

.services-right p {
    color: #606060;
    line-height: 1.8;
    font-weight: 400;
}


/* Services section ends */


/* Testimonial section starts */

.clients-content-row {
    margin-top: 40px;
}

.clients-info p {
    color: #111;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
}

.clients-info h3 {
    font-size: 16px;
    margin-top: 20px;
    color: #e73c3e;
}

.clients-info span {
    color: #606060;
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    background-color: #e73c3e;
    border-radius: 50%;
}

.carousel-indicators {
    bottom: 28%;
    left: unset;
    z-index: 2;
    margin-right: 6%;
    margin-bottom: 0;
    margin-left: 10%;
    flex-direction: column;
}

.clients-img {
    position: relative;
}

.clients-quate {
    position: absolute;
    left: 82px;
    bottom: 52px;
    background-color: #fff;
    padding: 23px;
    font-size: 35px;
    border-radius: 50%;
    color: #e73c3e;
}

.clients-quate:hover {
    background: #e73c3e;
    color: #fff;
    cursor: pointer;
}


/* Testimonial section ends */


/* Team section starts */

.team-img-wrap {
    position: relative;
}

.team-social {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

ul.team-social li {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 37px;
    text-align: center;
    margin: 0 5px;
    display: inline-block;
    font-size: 18px;
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.team-member:hover ul.team-social li {
    opacity: 1;
    visibility: visible;
    transform: translateY(-35px);
}

ul.team-social li:nth-child(1) {
    transition-delay: .2s;
}

ul.team-social li:nth-child(2) {
    transition-delay: .3s;
}

ul.team-social li:nth-child(3) {
    transition-delay: .4s;
}

ul.team-social li:nth-child(4) {
    transition-delay: .5s;
}

ul.team-social li:hover {
    background-color: #e73c3e;
    transition-delay: .1s !important;
}

ul.team-social li:hover a {
    color: white;
}

ul.team-social li a {
    color: black;
}

.team-member .team-info {
    margin-top: 25px;
}

.team-info h3 {
    font-size: 20px;
    color: #e73c3e;
    margin-bottom: 8px;
}

.team-info span {
    font-size: 16px;
    color: #606060;
}


/* Team section ends */


/* Blog section starts */

.blog-item .blog-info {
    margin-top: 25px;
}

.blog-info span {
    color: #e73c3e;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.blog-info h3 {
    line-height: 1.4;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 25px;
}

.blog-info h3 a {
    text-decoration: none;
    color: #111;
    transition: .5s ease-in-out;
}

.blog-info h3 a:hover {
    color: #e73c3e;
}

.blog-info a.more-btn {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    font-size: 16px;
    transition: .5s ease-in-out;
    font-family: 'Rubik', sans-serif;
}

.blog-item:hover .blog-info a.more-btn {
    color: #e73c3e;
    letter-spacing: 1px;
}


/* Blog section ends */